@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super página para pichones...</h1>
    <form method="post" action="https://localhost:7095/Tienda/Productos">
        <input type="hidden" name="direccion" value="Casa Hacker" />

        <input type="hidden" name="producto"
               value="Tesla 80.000€" /> 


        <input type="hidden" name="producto"
               value="iPhone 1.2000€" /> 


        <input type="hidden" name="producto"
               value="Ordenador Gaming 2.500€" /> 

        <input type="hidden" name="producto"
               value="Ferrari 250.000€" /> 
        <button class="btn btn-danger">Juega conmigo...</button>
    </form>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Yuzu_Emulator.svg/432px-Yuzu_Emulator.svg.png" style="width:150px" />
</div>
